/*css初始化*/
html,body,ul,li,ol,ul,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset{
    margin:0;
    padding:0;
}
/*fieldset组合表单中的相关元素*/
fieldset,img,input,button{
    border:none;
    padding:0;
    margin:0;
    outline-style:none;
}
/*清除列表风格*/
ul,ol{
    list-style:none;
}
/* input{
    padding-top:0;
    padding-bottom:0;
    font-family:"simsun","宋体";
}
select,input{
    vertical-align:middle;
}
select,input,textarea{
    font-size:12px;
    margin:0;
} */
/*防止多行文本拖拽*/
textarea{
    resize:none;
}
*{
    box-sizing:border-box
}
/*去掉图片底侧默认的3像素空白空隙*/
img{
    border:0;
    vertical-align:middle;
}
/*合并外边线*/
table{
    border-collapse:collapse;
}
.clearfix::after{
    content:"";
    display: block;
    height: 0;
    overflow: hidden;
    clear:both;
    visibility: hidden; 
    zoom:1;
}
a{
    text-decoration:none;
}
s,i,em{
    font-style:normal;
    text-decoration:none;
}
.col-red{
    color:#c81623 !important;
}
/*公共类*/
.container{
    width:1110px;
    margin:0 auto;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.al{
    text-align:left;
}
.ac{
    text-align:center;
}
.ar{
    text-align:right;
}
.hide{
    display:none;
}
.mt10{
    margin-top: 10px;
}